

body{
  background-color: ;
}

.a {color: skyblue; text-align: center;font-family: 'Work Sans', sans-serif; font-size-adjust: inherit;

}

.b {color: orange; font-family: 'Work Sans', sans-serif; font-size-adjust: inherit;

}
  .b:hover{color: indigo;background-color:white;}

.c {color: tomato;
}
  .c:hover{color: cornflowerblue;background-color:white;}

  .d {color: indigo;
}
.e {color: forestgreen; text-align: center;
}
  .e:hover{color: black; background-color:white;}
body 
    

{background-color:#003B46;}

    .topnav {
        background-color:#336B87;
        overflow: hidden;
        font-family: 'Work Sans', sans-serif;
        width: 200vw;

      }
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      .center {
        position: absolute;
  display: block;
  height: 100px;
  width: 100px;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
      }

  .center:hover{
    background-color: #ddd;
    color: black;
  }

  .card-text {
    font-family: 'Work Sans', sans-serif;}

    .card-title{
      font-family: 'Work Sans' , sans-serif;
    }

    #centred-image{
      align-content: center;
    }

    .col-md-6{
      color: white;
      width: auto;
    }

    .col-md-12{
      color: whitesmoke;
      width: auto;
    }

    .col-sm-6{
      background-color: #003B46;
      width: auto;
    }