

body 

.a {color: skyblue; text-align: center;font-family: 'Work Sans', sans-serif;

}

.b {color: orange; font-family: 'Work Sans', sans-serif;

}
  .b:hover{color: indigo;background-color:red;}

.c {color: tomato;
}
  .c:hover{color: cornflowerblue;background-color:red;}

  .d {color: indigo;
}
.e {color: forestgreen;
}
  .e:hover{color: black; background-color:red;}
body 
    

{background-color:blanchedalmond;}

    .topnav {
        background-color:orange;
        overflow: hidden;
        font-family: 'Work Sans', sans-serif;

      }
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      .center {
        position: absolute;
  display: block;
  height: 100px;
  width: 100px;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
      }

  .center:hover{
    background-color: #ddd;
    color: black;
  }

  .card-text {
    font-family: 'Work Sans', sans-serif;}

    .card-title{
      font-family: :'Work Sans' , sans-serif;
    }